.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 35px;
  background-color: rgba(13, 17, 23, 0.95);
  z-index: 1000;
  border-bottom: 1px solid #30363d;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.logoImage {
  width: 70px;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(0, 229, 255, 0.8));
  margin-right: 0 40px;
  transition:
    transform 0.2s ease,
    filter 0.2s ease;
}

.logoImage:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 15px rgba(0, 229, 255, 1));
}
.logo:hover {
  transform: scale(1.1);
}

.searchWrapper {
  flex-grow: 1;
  max-width: 600px;
  margin: 0 40px;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  background-color: #21262d;
  border: 1px solid #30363d;
  border-radius: 20px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.searchInput::placeholder {
  color: #8b949e;
}

.searchInput:focus {
  border-color: #00e5ff;
  box-shadow: 0 0 10px rgba(0, 229, 255, 0.3);
}

@media (max-width: 786px) {
  .header {
    padding: 2px 15px;
    gap: 10px;
  }

  .logo {
    font-size: 24px;
  }

  .searchWrapper {
    margin: 0 10px;
    max-width: 100%;
  }

  .searchInput {
    padding: 8px 14px;
    font-size: 13px;
  }
  .avatars img {
    width: 28px;
    height: 28px;
  }

  .dropdownArrow {
    font-size: 8px;
  }
  .logoImage {
    width: 50px;
    height: 50px;
  }
}
